*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: #111111;
}   
.topline{
    width: 40%;
    margin: auto;
}
.main_line 
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    /* width: 500px; */
    /* max-width: 50%; */
    height: 4px;
    background-color: #24282C;
    /* margin: 0px auto; */
    margin-top: 20px;
}
.dot {
    height: 12px;
    width: 12px;
    background-color: #ffff;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
    outline: 2px solid #111111;
}

.dot_main_class 
{
    border: 4px solid #12a9c9;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0px 10px;
    outline: 2px solid #111111;
}


.section{
    background-color: #2f3031;
    width: 70%;
    margin: auto;
    border-radius: 25px;
}



.section-inner{
    display: flex;

justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    padding: 50px;
   
    /* background-color: #2f3031; */
    /* margin: 30px auto; */
}
    


.box1{
    color: #088199;
    font-size: 26.3px;
    width: 100%;

    
}

.box1 hr{
    background-color:#088199;
    height: 1px;
 
    border: none;
}
.box1 li {
    list-style: none;
    padding:3px 0px
}
.box2 li {
    list-style: none;
    padding:3px 0px
}
.box3 li {
    list-style: none;
    padding:3px 0px
}

.box2{
    padding: 0px 190px;
}
.box3{
    color: #088199;
    font-size: 26.3px;
    width: 100%;
    
    text-align: center;
}

.box3 hr{
    background-color:#088199;
    height: 1px;
 
    border: none;
}



.btn-section{
    padding-top: 6px;
    text-align: center;
} 
.btn-section :hover{
    cursor: pointer;
}

.btn1{
    /* width:15%;
    height:67px; */
    background-color: aqua;
    border-radius: 20px;
    font-size: 27px;
    color: #ffffff;
}

@media only screen and (max-width: 1380px){
    .box2 {
        padding:0px; 
      }
}

@media only screen and (max-width: 720px) {
   

.section{
    width: 100%;
}

.box1 {
    padding:none; 
  }
.box2 {
    padding:0px; 
  }

.box3 {
  padding:none; 
}
}
@media only screen and (max-width: 375px) {
   

    .section{
        width: 100%;
    }
    .section-inner{
        padding: 0px;
    }
    
    .box1 {
        padding:none; 
      }
    .box2 {
        padding:0px; 
      }
    
    .box3 {
      padding:none; 
    }
    }