*{
    margin:0;
    padding: 0;
}
body{
    background-color:#111111;

}

.page41-body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
}
.right-top img{
    width: 100%;
}
.right-top:hover {
   cursor: pointer;
}
.right-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 26px;
}
.right-bottom h2{
    color: #12A9C9;
    font-size: 51px;
    font-weight: bold;
}
.right-bottom p{
    color: #4f5459;
    font-size: 13px;
    
}
.image-text{
    color: #ffffff !important;
    font-size: 12px !important;
    text-align: center;
}



.left-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.leftupper-part h2{
    color: #12A9C9;
font-size: 83px;
font-weight: bold;
}

.left-middle{
    padding: 35px 0px;
}



.left-middle h3{
    color: #ffffff;
    font-size:38px;
    font-weight: bold;
}


.leftupper-part p{
    color:#707070;
    font-size: 12.79px;
}

.leftcenter-part{
    display: flex;
    padding: 39px 0px;
}

.leftcenter-part h2{
    color: #ffffff;
    font-size:38px;
    font-weight: bold;
}
.leftcenter-part p{
    
    color:#707070;
    font-size: 12.79px;

}
.leftbootom-part img{
    width: 100%;
}
.circle-img img{
    width: 100%;
}


.btn {

    padding-top: 15px;

}
.btn :hover{
    cursor: pointer;
    background-color: aliceblue;
    color:#111111;
}

.btn button{
    background-color: #12A9C9;
    font-size: 24px;
    color:#ffffff ;
    /* width: 60%; */
    width: 147px;
    height: 53px;
    border-radius: 15px;
}
@media only screen and (max-width: 1130px) {
    .page41-body{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
  }
}

@media only screen and (max-width: 622px) {
    .page41-body{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
  }
}

@media only screen and (max-width: 400px){
.right-bottom{
    flex-direction: column;
}
}

